<html>
    <head>
        <title>
            Список событий
        </title>
    </head>
    <body>
        <div id="eventContainer" class="eventList">
            <th:block th:each="event:${events}">
                <div class="eventCard">
                    <h3 th:text = "${event.name}"></h3>
                    <h4 th:text = "'Описание: '+${event.description}"></h4>
                    <p th:text = "'Дата начала: '+${event.startDate.toString()}"></p>
                    <p th:text = "'Дата начала: '+${event.endDate.toString()}"></p>
                    <h5>====================</h5>
                </div>
            </th:block>
        </div>
    </body>
</html>